backups/*
crash-reports/*
downloads/*
journeymap/data/*
journeymap/journeymap.log
journeymap/icon/theme/flat/container/*
journeymap/icon/theme/flat/control/*
journeymap/icon/theme/flat/icon/*
journeymap/icon/theme/flat/minimap/*
kubejs/assets/createdynamics/textures/*
kubejs/assets/kubejs/textures/*
local/*
logs/*
mods/*
packmenu/resources/assets/packmenu/textures/gui/*
packmenu/resources/pack.png
patchouli_books/*
profileImage/*
resourcepacks/*
saves/*
schematics/*
screenshots/*
patchouli_data.json
usercache.json
usernamecache.json