backups/*
crash-reports/*
downloads/*
journeymap/data/*
journeymap/journeymap.log
local/*
logs/*
mods/*
patchouli_books/*
resourcepacks/*
saves/*
schematics/*
screenshots/*
patchouli_data.json
usercache.json
usernamecache.json